<!DOCTYPE html>
<html>
	<head>
		<title>Add | Online Calculator</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
		<form class="" action="/add_elements" method="post">
			<input type="number" placeholder="1st number" name="first_num"> 
			<span> + </span>
			<!-- <label for="Second number">Second Number</label>  -->
			<input type="number" placeholder="2nd number" name="second_num">
​				<button type="submit">Sum it!</button>
		</form>
	</body>
</html>