<!DOCTYPE html>
<html>
	<head>
	<title>Addition Result | Online Calculator</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
  	  <h1>Your operation is:</h1>
 	 	<p> <%= @first_num %> + <%= @second_num %> = <%= @sum %></p>
	</body>
</html>